<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Chibi Nin Jump.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7B8D96CC1BB71B48001124AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B8D96E41BB71B49001124AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B8D96EF1BB71B49001124AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
